<br/>

<div class="row">
    <div class="col-md-12">
        
        <div>
            <% if user_signed_in? %>
                <%= link_to "New Article", new_article_path,:class => "btn btn-primary" %>
            <% end %>
        </div>
        <% if @articles.any? %>
            <% @articles.each do |article|  %>
                </br>
                <div class="well well-lg article-listing">
                    <h2><%= link_to article.title.capitalize, article_path(article) %></h2>
                    <h4><%= article.body.truncate(300) %></h4>
                    <p>Created by: <%= article.user.email %></p>
                </div>
            <% end %>
        <% else %>
            <h2>There are no articles to display</h2>
        <% end %>
        
    </div>
</div>


