<br/>

<div class="row">
    <div class="col-md-8 well">
        <article>
            <h1> <%=@article.title %></h1>
            <%= @article.created_at.strftime("%Y-%m-%d %T") %>
            <h4><%= @article.body %></h4>
        </article>
    </div>
</div>


